.course-list {
    text-align: center;
    padding: 20px;
  }
  
  .courses-container {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  